article {

    background-image: url('https://pbs.twimg.com/media/FBs8-vLUUAIm94F?format=jpg&name=4096x4096');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 400px;

}