* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {

}
.square {
    width: 200px;
    height: 200px;
    background-color: salmon;
    margin-bottom: 12px;
}

.first-square {

}

.second-square {
    background-color: slateblue;
    position: relative;
}

.third-square {

}